* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden;
  background-color: #2c2c2c;
}

section {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#main-page {
  background: url('../images/hero1.jpg');
  background-size: cover;
  background-position: center;
}

.menu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  z-index: 5;
  background: inherit;
  background-attachment: fixed;
  overflow: hidden;
  display: none;
  transition: all 0.5s ease;
  &.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // transform: translateY(1px);
    transition: all 0.5s ease;
  }
  &:before {
    content: '';
    background: inherit;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: -25px;
    box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.3);
    filter: blur(10px);
    z-index: -1;
  }
  .menu-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .nav-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      text-transform: uppercase;
      font-size: 1rem;
      transition: all 0.5s ease;
      margin: 1rem;
      z-index: 2;
      a {
        box-sizing: border-box;
        text-decoration: none;
        color: white;
        transition: all 0.5s ease;
        letter-spacing: 1px;
      }

      a:hover {
        font-weight: 700;
        transform: scale(1.1);
      }

      .active {
        font-weight: 600;
      }
    }
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  position: relative;
  min-height: 12.5vh;
  background: inherit;
  background-attachment: fixed;
  overflow: hidden;
  padding: 0 7.5rem;
  z-index: 1;
  &:before {
    content: '';
    background: inherit;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: -25px;
    box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.3);
    filter: blur(10px);
    z-index: -1;
  }
  .logo {
    img {
      height: 2.2rem;
    }
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    .nav-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 6rem;
      text-transform: uppercase;
      font-size: 0.8rem;
      transition: all 0.5s ease;
      z-index: 2;

      &:first-of-type {
        width: 10rem;
      }

      a {
        box-sizing: border-box;
        text-decoration: none;
        color: white;
        transition: all 0.5s ease;
      }

      a:hover {
        font-weight: 700;
        transform: scale(1.1);
      }

      .active {
        font-weight: 700;
      }
    }
  }

  .phone {
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    min-height: 1rem;
    min-width: auto;
    text-decoration: none;
    a {
      text-decoration: none;
      color: white;
      span {
        font-size: 1rem;
        margin: 0rem 0.5rem !important;
      }
      i {
        font-size: 1.2rem;
        padding: 0.5rem;
        border-radius: 50%;
        border: 1px solid white;
        color: white;
        margin: 0rem 0.5rem;
      }
    }
  }

  .burger {
    z-index: 2;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .line1,
    .line2 {
      width: 32px;
      height: 3px;
      background: white;
      margin: 5px;
      border-radius: 5px;
    }
  }
}

.new-home {
  font-family: 'Poppis', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffce00;
  height: 30vh;
  h1 {
    font-size: 1.8rem;
    font-weight: 300;
    span {
      font-weight: 700;
    }
  }
}

#about {
  height: fit-content;
  padding: 5rem 0 10rem 0;
  background-origin: border-box;
  background-color: #efefef;
  background-image: url('../images/logo.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left;
  background-blend-mode: overlay;
  background-attachment: fixed;

  color: black;
  font-family: 'Poppis', sans-serif;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  .about-text,
  .about-img {
    margin-top: 5rem;
    width: 45%;
    padding: 5rem;
  }
  .about-text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    h1 {
      width: fit-content;
      font-weight: 400;
      padding: 1rem;
      border: 2px solid #ffce00;
      letter-spacing: 1px;
      margin-bottom: 2.5rem;
      font-size: 2rem;
      span {
        font-weight: 400;
      }
    }
    p {
      font-weight: 300;
      line-height: 1.5;
      margin-bottom: 1.5rem;
      font-size: 1rem !important;
    }
  }
  .about-img {
    position: relative;
    img {
      position: relative;
      width: 100%;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 2px solid #ffce00;
    }
  }

  box-shadow: inset 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.services-wrap {
  filter: drop-shadow(-1px 0 10px rgba(0, 0, 0, 0.2));
}

#services {
  background-color: rgb(214, 214, 214);
  background-image: url('../images/marmur.jpg');
  background-size: cover;
  background-blend-mode: overlay;
  clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
  transform: translateY(-16rem);

  min-height: 120vh;
  height: auto;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 15rem;
  padding-bottom: 10rem;

  color: black;
  font-family: 'Poppis', sans-serif;
  h1 {
    position: relative;
    width: fit-content;
    font-weight: 400;
    padding: 1rem;
    letter-spacing: 1px;
    margin-bottom: 2.5rem;
    font-size: 2rem;
    &:before {
      content: '';
      position: absolute;
      border: 2px solid #ffce00;
      top: 0;
      left: 25%;
      right: -5%;
      bottom: 0;
    }
    span {
      font-weight: 600;
    }
  }
  p {
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }
  p:nth-child(3) {
    font-size: 1.1rem;
    font-weight: 600;
  }
  .services-box {
    width: 100%;
    height: auto;
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    .service {
      margin: 1 0rem;
      max-width: 15rem;
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: all 0.5s ease-in-out;

      .service-img {
        height: 10rem;
        width: 10rem;
        border-radius: 100%;
        background: rgb(49, 49, 49);

        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
        &:hover {
          box-shadow: 0 0 20px #ffce00;
        }
        img {
          width: 50%;
        }
      }
      // &:hover {
      //   transform: scale(1.2);
      // }
      p {
        padding: 1rem;
        text-align: center;
        font-weight: 400;
        font-size: 1.1rem;
      }
    }
  }
}

#projects {
  transform: translateY(-15%);
  width: 100%;
  height: 100vh;
  padding: 0 10rem;
  color: white;
  font-family: 'Poppis', sans-serif;
  h1 {
    position: relative;
    width: fit-content;
    font-weight: 400;
    padding: 1rem;
    letter-spacing: 1px;
    margin-bottom: 2.5rem;
    font-size: 2rem;
    &:before {
      content: '';
      position: absolute;
      border: 2px solid #ffce00;
      top: 0;
      left: 27%;
      right: -5%;
      bottom: 0;
    }
    span {
      font-weight: 600;
    }
  }
  .gallery {
    margin: auto;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0;
    .gallery-img {
      position: relative;
      overflow: hidden;
      aspect-ratio: 1 / 1;
      i {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.5s ease-in-out;
        opacity: 0;
        pointer-events: none;
        font-size: 2rem;
        color: #ffce00;
      }
      img {
        width: 100%;
        transition: all 0.5s ease;
        cursor: pointer;
        &:hover {
          transform-origin: center;
          transform: scale(1.2);
          filter: brightness(10%);
        }
        &:hover ~ i {
          opacity: 1;
        }
      }
    }
  }
}
.modal {
  // background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5 ease;
  background-image: url('../images/gallery/1/1.jpg');
  background-size: cover;
  background-position: center;
  cursor: pointer;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  &.open {
    opacity: 1;
    pointer-events: all;
  }
  .modal-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    padding: 1rem;
    font-size: 2rem;
    color: white;
    z-index: 5;
    i {
      pointer-events: none;
    }
  }
  .control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 11;
    i {
      font-size: 3rem;
      color: white;
    }
  }
  .left {
    left: 2.5%;
  }
  .right {
    right: 2.5%;
  }
  .big-box {
    background: inherit;
    position: relative;
    width: 100%;
    height: 100%;
    .big-photo {
      height: calc(80% - 1rem);
      background-color: white;
      position: absolute;
      top: 0%;
      left: 50%;
      margin-top: 1rem;
      transform: translate(-50%, 0%) scale(0.5);
      transition: transform 0.25s ease-out;
      z-index: 2;
      &.open {
        transform: translate(-50%, 0) scale(1);
      }
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
    }
    &::before {
      content: '';
      background: inherit;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: -25px;
      box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.3);
      filter: blur(20px);
      z-index: 1;
    }
  }

  .small-photo {
    height: 100%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: gray;
    z-index: 10;
    &.active {
      border: 2px solid white;
    }
    &:nth-child(2) {
      border: 2px solid #ffce00;
    }
  }

  .film-stock {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 20%;
    z-index: 9;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
}

@media (max-width: 575.98px) {
  .menu {
    &.active {
      height: 52%;
      // transform: translateY(2px);
    }
    .menu-nav {
      .nav-item {
        font-size: 1rem;
      }
    }
  }
  .navbar {
    padding: 0.5rem 0;
    min-height: 3.5rem;
    .logo {
      img {
        height: 1.2rem;
      }
    }
  }
  .phone {
    i {
      width: auto;
      height: auto;
      padding: 0.1rem;
      font-size: 0.75rem !important;
    }
  }
  .new-home {
    padding: 2rem;
    text-align: center;
    z-index: 2;
    h1 {
      font-size: 1rem !important;
    }
  }

  #about {
    padding-top: 1rem;
    .about-text {
      h1 {
        font-size: 1.5rem !important;
      }
      padding: 2.5rem;
      text-align: center;
    }
    p {
      font-size: 0.9rem !important;
      margin: auto;
      text-shadow: 0 0 6px rgba(255, 255, 255, 0.555);
    }
    .about-img {
      width: 80% !important;
      margin-bottom: 5rem !important;
    }
  }

  #services {
    padding-top: 12.5rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    h1 {
      font-size: 1.5rem;
    }
    p {
      text-align: center;
    }
    p:nth-child(3) {
      font-weight: 600;
    }
    .service {
      margin: 0 !important;
    }
  }

  #projects {
    padding: 0 0rem !important;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .menu {
    &.active {
      height: 52%;
      // transform: translateY(4px);
    }
  }
  .new-home {
    h1 {
      font-size: 1.3rem;
    }
  }

  #about {
    .about-img {
      width: 60%;
      margin-bottom: 5rem !important;
    }
  }

  #services {
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%) !important;
    .services-box {
      grid-template-columns: 1fr !important;
      grid-template-rows: repeat(8, 1fr) !important;
    }
  }

  #projects {
    padding: 0 1rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #services {
    transform: translateY(-17rem);
    padding-top: 20rem;
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
    .services-box {
      grid-template-columns: repeat(2, 1fr) !important;
      grid-template-rows: repeat(4, 1fr) !important;
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .navbar {
    justify-content: space-between;
    .navbar-nav {
      display: none;
    }
    .burger {
      display: block;
    }
  }
  #about {
    .about-img {
      width: 70% !important;
      margin-bottom: 7.5rem !important;
    }
  }
  #services {
    transform: translateY(-17rem);
    padding-top: 20rem;
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
  }

  #projects {
    padding: 0 5rem;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1200px) {
  .navbar {
    padding: 0 2.5rem;
    min-width: 11rem;
    .phone {
      i {
        margin: 0;
      }
    }
  }
  #about {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    .about-text {
      width: 100%;
      margin: 0;
      p {
        font-size: 0.75rem;
      }
    }
    .about-img {
      margin: 0;
      width: 60%;
      padding: 2.5rem;
      margin-bottom: 5rem;
      img {
        width: 100%;
      }
    }
  }
  #services {
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
    .services-box {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
  }
  #projects {
    .gallery {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
  }
}

@media (min-width: 1440px) {
  #about {
    .about-text {
      p {
        font-size: 1.5rem;
      }
    }
    padding-bottom: 15rem !important;
    .about-img {
      width: 40% !important;
    }
  }
  #services {
    padding-top: 20rem;
    clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
  }
}

@media (min-height: 900px) {
  #about {
    padding-bottom: 10rem;
  }
}

// @media (max-height: 899px) {
//   #services {
//     clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
//   }
// }
