* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden;
}

section {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.carousel {
  height: 100%;
  width: 100%;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel-indicators {
  margin-bottom: 3rem;
}

.carousel-indicators button {
  width: 7px !important;
  height: 7px !important;
  border-radius: 100%;
  background: rgba(255,255,255,.5);
  margin: 4px !important;
}

.carousel-indicators .active {
  background-color: #FFCE00;
}
