* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden;
  background-color: #2c2c2c;
}

section {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  background: #0a0a0a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading.loading--transparent {
  background: rgba(255, 255, 255, 0.3);
}

.loading .loading-item {
  width: auto;
  height: 100px;
  -webkit-animation-name: blink;
          animation-name: blink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.back__button {
  position: fixed;
  right: 5rem;
  bottom: 5rem;
  z-index: 50;
  background: none;
  border: none;
  font-size: 64px;
  color: #ffce00;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.back__button.active {
  pointer-events: all;
  opacity: 1;
}

#main-page {
  background: url("../images/hero1.jpg");
  background-size: cover;
  background-position: center;
  font-family: 'Poppis', sans-serif;
}

#main-page .hero__caption {
  position: absolute;
  top: 40%;
  left: 10%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: white;
}

#main-page .hero__caption .hero__button {
  margin-right: 0;
  margin-top: 48px;
  padding: 32px 48px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: black;
  background: #bebebe;
  border: none;
  cursor: pointer;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  background: transparent;
  border: 1px solid #ffce00;
  color: #ffce00;
}

#main-page .hero__caption .hero__button:hover {
  color: black;
  background: #ffce00;
}

#main-page .hero__caption .hero__header {
  color: white;
  font-size: 70px;
  letter-spacing: 0px;
  text-transform: uppercase;
  line-height: 64px;
  color: #ffce00;
}

#main-page .hero__caption .hero__header--big {
  color: white;
  font-size: 128px;
  letter-spacing: 0px;
  text-transform: uppercase;
  line-height: 120px;
}

#main-page .hero__caption .hero__header--small {
  font-size: 52px;
  letter-spacing: 0;
}

#main-page .menu {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50%;
  z-index: 5;
  top: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  background: inherit;
  background-attachment: fixed;
  overflow: hidden;
  display: none;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

#main-page .menu.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: 0;
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
  opacity: 1;
  -webkit-animation-name: active;
          animation-name: active;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes active {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
}

@keyframes active {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
}

#main-page .menu:before {
  content: '';
  background: inherit;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: -25px;
  -webkit-box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.3);
          box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.3);
  -webkit-filter: blur(10px);
          filter: blur(10px);
  z-index: -1;
}

#main-page .menu .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5rem;
}

#main-page .menu .menu-nav .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-transform: uppercase;
  font-size: 1rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: 1rem;
  z-index: 2;
}

#main-page .menu .menu-nav .nav-item a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  letter-spacing: 1px;
}

#main-page .menu .menu-nav .nav-item a:hover {
  font-weight: 700;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#main-page .menu .menu-nav .nav-item .active {
  font-weight: 600;
}

#main-page .navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  min-height: 12.5vh;
  background: inherit;
  background-attachment: fixed;
  overflow: hidden;
  padding: 0 7.5rem;
  z-index: 1;
}

#main-page .navbar:before {
  content: '';
  background: inherit;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: -25px;
  -webkit-box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.3);
          box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.3);
  -webkit-filter: blur(10px);
          filter: blur(10px);
  z-index: -1;
}

#main-page .navbar .logo img {
  height: 2.2rem;
}

#main-page .navbar .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-page .navbar .navbar-nav .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 6rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 2;
}

#main-page .navbar .navbar-nav .nav-item:first-of-type {
  width: 10rem;
}

#main-page .navbar .navbar-nav .nav-item a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#main-page .navbar .navbar-nav .nav-item a:hover {
  font-weight: 700;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#main-page .navbar .navbar-nav .nav-item .active {
  font-weight: 700;
}

#main-page .navbar .phone {
  font-size: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  min-height: 1rem;
  min-width: auto;
  text-decoration: none;
}

#main-page .navbar .phone a {
  text-decoration: none;
  color: white;
}

#main-page .navbar .phone a span {
  font-size: 1rem;
  margin: 0rem 0.5rem !important;
}

#main-page .navbar .phone a i {
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  margin: 0rem 0.5rem;
}

#main-page .navbar .burger {
  z-index: 2;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-page .navbar .burger .line1,
#main-page .navbar .burger .line2 {
  width: 32px;
  height: 3px;
  background: white;
  margin: 5px;
  border-radius: 5px;
}

.new-home {
  font-family: 'Poppis', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffce00;
  height: 30vh;
}

.new-home h1 {
  font-size: 1.8rem;
  font-weight: 300;
}

.new-home h1 span {
  font-weight: 700;
}

#about {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5rem 0 10rem 0;
  background-origin: border-box;
  background-color: #efefef;
  background-image: url("../images/logo.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left;
  background-blend-mode: overlay;
  background-attachment: fixed;
  color: black;
  font-family: 'Poppis', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-shadow: inset 0px 6px 12px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 6px 12px rgba(0, 0, 0, 0.2);
}

#about .about-text,
#about .about-img {
  margin-top: 5rem;
  width: 45%;
  padding: 5rem;
}

#about .about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#about .about-text h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 400;
  padding: 1rem;
  border: 2px solid #ffce00;
  letter-spacing: 1px;
  margin-bottom: 2.5rem;
  font-size: 2rem;
}

#about .about-text h1 span {
  font-weight: 400;
}

#about .about-text p {
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  font-size: 1rem !important;
}

#about .about-img {
  position: relative;
}

#about .about-img img {
  position: relative;
  width: 100%;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

#about .about-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #ffce00;
}

.services-wrap {
  -webkit-filter: drop-shadow(-1px 0 10px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(-1px 0 10px rgba(0, 0, 0, 0.2));
}

#services {
  background-color: #d6d6d6;
  background-image: url("../images/marmur.jpg");
  background-size: cover;
  background-blend-mode: overlay;
  -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
          clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
  -webkit-transform: translateY(-16rem);
          transform: translateY(-16rem);
  min-height: 120vh;
  height: auto;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 15rem;
  padding-bottom: 10rem;
  color: black;
  font-family: 'Poppis', sans-serif;
}

#services h1 {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 400;
  padding: 1rem;
  letter-spacing: 1px;
  margin-bottom: 2.5rem;
  font-size: 2rem;
}

#services h1:before {
  content: '';
  position: absolute;
  border: 2px solid #ffce00;
  top: 0;
  left: 25%;
  right: -5%;
  bottom: 0;
}

#services h1 span {
  font-weight: 600;
}

#services p {
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

#services p:nth-child(3) {
  font-size: 1.1rem;
  font-weight: 600;
}

#services .services-box {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  justify-items: center;
}

#services .services-box .service {
  margin: 1 0rem;
  max-width: 15rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#services .services-box .service .service-img {
  height: 10rem;
  width: 10rem;
  border-radius: 100%;
  background: #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

#services .services-box .service .service-img:hover {
  -webkit-box-shadow: 0 0 20px #ffce00;
          box-shadow: 0 0 20px #ffce00;
}

#services .services-box .service .service-img img {
  width: 50%;
}

#services .services-box .service p {
  padding: 1rem;
  text-align: center;
  font-weight: 400;
  font-size: 1.1rem;
}

#projects {
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
  width: 100%;
  height: 75vh;
  padding: 0 10rem;
  color: white;
  font-family: 'Poppis', sans-serif;
  z-index: 3;
}

#projects h1 {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 400;
  padding: 1rem;
  letter-spacing: 1px;
  margin-bottom: 2.5rem;
  font-size: 2rem;
}

#projects h1:before {
  content: '';
  position: absolute;
  border: 2px solid #ffce00;
  top: 0;
  left: 27%;
  right: -5%;
  bottom: 0;
}

#projects h1 span {
  font-weight: 600;
}

#projects .gallery {
  margin: auto;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 0px;
}

#projects .gallery .gallery-img {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1 / 1;
}

#projects .gallery .gallery-img i {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  pointer-events: none;
  font-size: 2rem;
  color: #ffce00;
}

#projects .gallery .gallery-img img {
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

#projects .gallery .gallery-img img:hover {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: brightness(10%);
          filter: brightness(10%);
}

#projects .gallery .gallery-img img:hover ~ i {
  opacity: 1;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.modal.open {
  opacity: 1;
  pointer-events: all;
}

.modal .modal-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  padding: 1rem;
  font-size: 2rem;
  color: #ffce00;
  z-index: 5;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.modal .modal-close i {
  pointer-events: none;
}

.modal .control {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 11;
}

.modal .control i {
  pointer-events: none;
  font-size: 3rem;
  color: #ffce00;
}

.modal .left {
  left: 2.5%;
}

.modal .right {
  right: 2.5%;
}

.modal .big-box {
  background: inherit;
  position: relative;
  width: 100%;
  height: 100%;
}

.modal .big-box .big-photo {
  height: calc(80% - 1rem);
  background-color: white;
  position: absolute;
  top: 0%;
  left: 50%;
  margin-top: 1rem;
  -webkit-transform: translate(-50%, 0%) scale(0.5);
          transform: translate(-50%, 0%) scale(0.5);
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  z-index: 2;
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}

.modal .big-box .big-photo.open {
  -webkit-transform: translate(-50%, 0) scale(1);
          transform: translate(-50%, 0) scale(1);
}

.modal .big-box::before {
  content: '';
  background: inherit;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: -50px;
  -webkit-box-shadow: inset 0 0 0 6000px rgba(255, 255, 255, 0.3);
          box-shadow: inset 0 0 0 6000px rgba(255, 255, 255, 0.3);
  -webkit-filter: blur(10px);
          filter: blur(10px);
  z-index: 1;
}

.modal .small-photo {
  height: 100%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-color: gray;
  z-index: 10;
}

.modal .small-photo.active {
  border: 2px solid #ffce00;
}

.modal .film-stock {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 20%;
  z-index: 9;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

#footer {
  height: 850px;
  background: #efefef;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#footer .footer__topbar {
  position: relative;
  height: 8rem;
  width: calc(100% - 20rem);
  background: #ffce00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 300px;
}

#footer .footer__medium-bar {
  height: 9rem;
  width: 100%;
  padding: 0 10rem;
  background-color: #2c2c2c;
}

#footer .footer__downbar {
  height: 64px;
  width: 100%;
  background: #000;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .footer__downbar span {
  color: #ffce00;
  margin-left: 4px;
}

#footer .footer__photo {
  margin: 0 20px;
  width: 240px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#footer .footer__button {
  background: none;
  border: 1px solid black;
  padding: 12px 24px;
  text-transform: uppercase;
  margin: 0 48px;
  z-index: 10;
  cursor: pointer;
}

#footer .footer__button:hover {
  background: black !important;
  color: #ffce00;
}

#footer .footer__line {
  border-left: 3px solid white;
  height: 40px;
  margin: 0 16px;
}

#footer .footer__topbar-text {
  font-weight: 300;
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#footer .footer__topbar-text span {
  font-size: 18px;
  display: block;
  margin: 12px;
}

#footer .footer__topbar-text .footer__topbar-text--big {
  text-transform: uppercase;
  font-weight: 500;
}

#footer .footer__inside-block {
  font-family: 'Poppis', sans-serif;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 24px 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .footer__inside-block .footer__contact-box {
  margin: 0 12px;
  padding: 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .footer__inside-block .footer__contact-box .footer__contact-icon {
  color: white;
  font-size: 40px;
}

#footer .footer__inside-block .footer__contact-box .footer__contact-icon--phone {
  font-size: 30px;
  color: white;
}

#footer .footer__inside-block .footer__contact-box .footer__contact-text {
  font-weight: 400;
  color: white;
  font-size: 14px;
}

#footer .footer__inside-block .footer__contact-box .footer__contact-text span {
  display: block;
  margin: 4px;
}

#footer .footer__inside-block .footer__contact-box .footer__contact-text .footer__contact-text--link {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.3);
  font-size: 12px;
}

.contact__container {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(187, 187, 187, 0.589);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: visible;
}

.contact__container .contact {
  font-family: 'Poppis', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  width: 75%;
  height: 75%;
  opacity: 1;
  -webkit-transition-duration: none;
          transition-duration: none;
  -webkit-box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.1), -20px -20px 40px rgba(255, 255, 255, 0.2);
          box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.1), -20px -20px 40px rgba(255, 255, 255, 0.2);
}

.contact__container .contact .contact__image {
  background: #ffce00;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
}

.contact__container .contact .contact__image img {
  width: 50%;
}

.contact__container .contact .contact__form {
  position: relative;
  background: #ececec;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 48px;
}

.contact__container .contact .contact__form .contact__header {
  text-transform: uppercase;
  margin-bottom: 24px;
}

.contact__container .contact .contact__form .contact__label {
  line-height: 24px;
  z-index: 1;
}

.contact__container .contact .contact__form .contact__input {
  padding: 12px;
  margin-bottom: 24px;
  -webkit-box-shadow: 8px 8px 40px rgba(0, 0, 0, 0.1), -8px -8px 20px rgba(255, 255, 255, 0.5) !important;
          box-shadow: 8px 8px 40px rgba(0, 0, 0, 0.1), -8px -8px 20px rgba(255, 255, 255, 0.5) !important;
  border: none;
  z-index: 0;
  -webkit-transition-duration: 1s ease;
          transition-duration: 1s ease;
}

.contact__container .contact .contact__form .contact__input:focus {
  outline: 2px solid #ffce00;
}

.contact__container .contact .contact__form .contact__input--textarea {
  min-height: 120px;
  height: 50%;
}

.contact__container .contact .contact__form .contact__button {
  padding: 24px 32px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #ffce00;
  background: black;
  border: none;
  cursor: pointer;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.contact__container .contact .contact__form .contact__button:hover {
  color: black;
  background: #ffce00;
}

.contact__container .contact .contact__close {
  border: none;
  background: none;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 24px;
  right: 24px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  z-index: 2;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1), 0px -4px 12px rgba(255, 255, 255, 0.8);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1), 0px -4px 12px rgba(255, 255, 255, 0.8);
  cursor: pointer;
  -webkit-transition: -webkit-transform .5s ease-in;
  transition: -webkit-transform .5s ease-in;
  transition: transform .5s ease-in;
  transition: transform .5s ease-in, -webkit-transform .5s ease-in;
}

.contact__container .contact .contact__close:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.contact__container .contact--disabled {
  -webkit-animation-name: fall-out;
          animation-name: fall-out;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  opacity: 0;
}

.contact__container--disabled {
  -webkit-animation-name: disappear;
          animation-name: disappear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}

.fall-in {
  -webkit-animation-name: fall-in;
          animation-name: fall-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.shake {
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both !important;
          animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both !important;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

@-webkit-keyframes fall-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    opacity: 1;
    trasform: translateY(5%);
  }
}

@keyframes fall-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    opacity: 1;
    trasform: translateY(5%);
  }
}

@-webkit-keyframes fall-out {
  0% {
    opacity: 1;
    trasform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

@keyframes fall-out {
  0% {
    opacity: 1;
    trasform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

@media (max-width: 575.98px) {
  .menu {
    padding-bottom: 1.5rem;
  }
  .menu.active {
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  .menu .menu-nav .nav-item {
    font-size: 1rem;
  }
  .navbar {
    padding: 0.5rem 2rem !important;
    min-height: 3.5rem;
  }
  .navbar .logo img {
    height: 1.2rem;
  }
  .phone i {
    width: auto;
    height: auto;
    padding: 0.1rem;
    font-size: 0.75rem !important;
  }
  .new-home {
    padding: 2rem;
    text-align: center;
    z-index: 2;
  }
  .new-home h1 {
    font-size: 1rem !important;
  }
  #about {
    padding-top: 1rem;
  }
  #about .about-text {
    padding: 2.5rem;
    text-align: center;
  }
  #about .about-text h1 {
    font-size: 1.5rem !important;
  }
  #about p {
    font-size: 0.9rem !important;
    margin: auto;
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.555);
  }
  #about .about-img {
    width: 80% !important;
    margin-bottom: 5rem !important;
  }
  #services {
    padding-top: 12.5rem !important;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  #services h1 {
    font-size: 1.5rem;
  }
  #services p {
    text-align: center;
  }
  #services p:nth-child(3) {
    font-weight: 600;
  }
  #services .services-box {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #services .services-box .service {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    height: 240px;
  }
  #services .services-box .service .service-img {
    width: 96px !important;
    height: 96px !important;
  }
  #services .services-box .service p {
    width: 120px;
    font-size: 12px;
  }
  #projects {
    padding: 0 2.5rem !important;
    margin-bottom: 100px;
  }
  #projects .gallery {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    grid-gap: 12px;
  }
  #projects .gallery .gallery-img {
    -webkit-box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2), -4px -4px 16px rgba(0, 0, 0, 0.2);
            box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2), -4px -4px 16px rgba(0, 0, 0, 0.2);
  }
  #footer .footer__topbar {
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  #footer .footer__topbar .footer__photo {
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  #footer .footer__topbar .footer__button {
    font-size: 16px !important;
    margin: 0 !important;
    margin-top: 40px !important;
    margin-bottom: 240px !important;
  }
  .contact__container {
    top: 0% !important;
    z-index: 100;
    height: 100vh;
  }
  .contact__container .contact {
    top: 0 !important;
    width: 100%;
    min-height: -webkit-fit-content !important;
    min-height: -moz-fit-content !important;
    min-height: fit-content !important;
    height: 100vh !important;
    padding-bottom: 5rem;
  }
  .contact__container .contact .contact__form .contact__header {
    margin: auto;
    padding-bottom: 32px;
  }
  .contact__container .contact .contact__form .contact__label {
    font-size: 12px;
  }
  .contact__container .contact .contact__form .contact__button {
    width: 100%;
    font-size: 16px;
    padding: 24px;
    margin-top: 12px;
  }
}

@media (max-width: 767.98px) {
  .menu.active {
    height: 52%;
  }
  .new-home h1 {
    font-size: 1.3rem;
  }
  #about .about-img {
    width: 60%;
    margin-bottom: 5rem !important;
  }
  #services {
    -webkit-clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%) !important;
            clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%) !important;
  }
  #services .services-box {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
    -ms-grid-rows: (1fr)[8] !important;
        grid-template-rows: repeat(8, 1fr) !important;
  }
  #projects {
    padding: 0 1rem;
    height: 100px;
  }
  #footer .footer__button {
    margin-left: 240px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #services {
    -webkit-transform: translateY(-17rem);
            transform: translateY(-17rem);
    padding-top: 20rem;
    -webkit-clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
            clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
  }
  #services .services-box {
    -ms-grid-columns: (1fr)[2] !important;
        grid-template-columns: repeat(2, 1fr) !important;
    -ms-grid-rows: (1fr)[4] !important;
        grid-template-rows: repeat(4, 1fr) !important;
  }
  #footer {
    height: 100px;
  }
}

@media (max-width: 991.98px) {
  .back__button {
    display: none;
  }
  .navbar {
    position: fixed !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 10 !important;
  }
  .navbar .navbar-nav {
    display: none !important;
  }
  .navbar .burger {
    display: block !important;
  }
  .hero__caption {
    position: absolute;
    top: 75% !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, -75%);
            transform: translate(-50%, -75%);
  }
  .hero__caption .hero__button {
    margin-right: 0;
    margin-top: 48px;
    padding: 32px 48px;
    font-size: 20px;
    font-weight: 500;
  }
  .hero__caption .hero__button:hover {
    color: black;
    background: #ffce00;
  }
  .hero__caption .hero__header {
    display: none;
    font-size: 35px;
    line-height: 32px;
  }
  .hero__caption .hero__header--big {
    display: none;
    font-size: 64px;
    line-height: 64px;
  }
  .hero__caption .hero__header--small {
    display: none;
    font-size: 41px;
  }
  #about .about-img {
    width: 70% !important;
    margin-bottom: 7.5rem !important;
  }
  #services {
    -webkit-transform: translateY(-17rem);
            transform: translateY(-17rem);
    padding-top: 20rem;
    -webkit-clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
            clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
  }
  #projects {
    padding: 0 5rem;
  }
  #footer {
    height: 1600px !important;
  }
  #footer .footer__topbar {
    height: 22rem;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 32px;
  }
  #footer .footer__topbar .footer__line {
    display: none;
  }
  #footer .footer__topbar .footer__button {
    background: black;
    color: #ffce00;
    margin-bottom: 64px;
    font-size: 20px;
    padding: 24px 32px;
  }
  #footer .footer__topbar .footer__button:hover {
    background: #ffce00 !important;
    color: black;
  }
  #footer .footer__medium-bar {
    height: 18rem;
    padding: 0;
  }
  #footer .footer__medium-bar .footer__inside-block {
    padding: 16px;
    height: 18rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .contact__container .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__container .contact .contact__close {
    -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1), 0px -4px 12px rgba(255, 255, 255, 0.2);
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1), 0px -4px 12px rgba(255, 255, 255, 0.2);
  }
  .contact__container .contact .contact__image {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 24px;
  }
  .contact__container .contact .contact__image img {
    height: 100px;
    width: auto;
    padding: 12px;
    border-radius: 12px;
  }
  .contact__container .contact .contact__form {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media (max-width: 1200px) {
  .navbar {
    padding: 0 2.5rem;
    min-width: 11rem;
  }
  .navbar .phone i {
    margin: 0;
  }
  #about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  #about .about-text {
    width: 100%;
    margin: 0;
  }
  #about .about-text p {
    font-size: 0.75rem;
  }
  #about .about-img {
    margin: 0;
    width: 60%;
    padding: 2.5rem;
    margin-bottom: 5rem;
  }
  #about .about-img img {
    width: 100%;
  }
  #services {
    -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
            clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  }
  #services .services-box {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
  #projects .gallery {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
  #footer {
    height: 1300px;
  }
  #footer .footer__topbar {
    width: 100%;
  }
  #footer .footer__medium-bar {
    padding: 0;
  }
}

@media (min-width: 1440px) {
  #about {
    padding-bottom: 15rem !important;
  }
  #about .about-text p {
    font-size: 1.5rem;
  }
  #about .about-img {
    width: 40% !important;
  }
  #services {
    padding-top: 20rem;
    -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
            clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
  }
  #projects {
    margin-bottom: 15vh;
  }
  #projects .gallery .gallery-img {
    width: 100%;
    height: 500px;
  }
}

@media (min-height: 900px) {
  #about {
    padding-bottom: 10rem;
  }
}
/*# sourceMappingURL=style.css.map */